name: Collecte Bourse Fondamentale

on:
  schedule:
    - cron: '45 16 * * 1-5'
  workflow_dispatch:

jobs:
  run_script:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install pandas requests beautifulsoup4 lxml supabase numpy

      - name: Run script
        run: python collecte_bourse.py
